{% extends "base.html" %}
<!--Stop-->
{% load i18n %}
<!--Stop-->
{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}
<!--Stop-->
{% block content %}
<div
  class="center-content"
  id="logout"
  style="background: #b8e0a8"
  aria-label="Logout Confirmation"
>
  <h1>{% trans "Logout" %}</h1>

  <p>{% trans 'Are you sure you want to log out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %} {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button class="btn-primary" type="submit" aria-label="Log out">
      {% trans 'Log out' %}
    </button>
  </form>
</div>

{% endblock content %}
