@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap");

:root {
    --primary-color: #202020;
    --secondary-color: #f4f7fc;
    --grey: #a6a6a6;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: var(--primary-color);
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3rem;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

h4 {
    font-size: 1.6rem;
}

span {
    color: var(--grey);
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin: 1.6rem 0;
    color: var(--grey);
    font-size: 1.6rem;
    border-bottom: 2px dotted var(--primary-color);
}

.site-container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 16px 0;
}

/* Nagivation */
nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu a {
    border-bottom: none;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 24px;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-menu {
        display: block;
        font-size: 24px;
    }

    .menu {
        position: absolute;
        background-color: var(--secondary-color);
        width: 100%;
        top: 100%;
        z-index: 99;
        display: none;
    }

    .menu a {
        padding: 32px 0;
        font-size: 18px;
        display: block;
    }

    .show {
        display: block;
    }
}

/* Hero Section */

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.hero .left {
    background-image: url("../media/hero.png");
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .right {
    background-color: #c8d366;
}

.hero .content-box {
    position: absolute;
    background-color: #fffffc;
    padding: 32px;
    width: 35%;
    top: 50%;
    left: 65%;
    transform: translate(-40%, -50%);
}

@media only screen and (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero .content-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: #fff;
    }
}

/* Blog */

main {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    margin-top: 50px;
    grid-gap: 60px;
}

.blog {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 48px;
}

.blog .thumbnail {
    object-fit: contain;
}

.blog-post {
    background-color: var(--secondary-color);
    margin: 24px 0;
    padding: 16px;
}

.blog-content h3 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

.blog-content {
    margin-top: 24px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: var(--primary-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 0;
}

@media only screen and (max-width: 768px) {
    .blog {
        grid-template-columns: 1fr;
    }
}

/* Footer */

footer {
    background-color: #212124;
    margin-top: 50px;
    padding: 100px 0;
}

footer p,
a {
    color: #9b9ca1;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 16px;
}

.social-icons i {
    color: var(--secondary-color);
    font-size: 16px;
    border: 1px slid var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
}