{% extends "base.html" %} {% block content %}
<!-- Hero section -->
<section class="hero" aria-label="Main Hero Section">
  <div class="left"></div>
  <div class="right">
    <div class="content-box">
      <span>Your Community Pinboard!</span>
      <h1>Join our neighborhood's digital pinboard:</h1>
      <h1 style="color: #c51616">Stay Alert!</h1>
    </div>
  </div>
</section>
<div class="row">
  <!-- Category Filter -->
  <div class="category-filter">
    <ul>
      <li>
        <a href="{% url 'home' %}" aria-label="Clear Filter">Clear Filter</a>
      </li>
      {% for category in categories %}
      <li
        class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}"
      >
        <a
          href="{% url 'home' %}?query={{ query }}&category={{ category.id }}"
          aria-label="Filter by {{ category.name }}"
          >{{ category.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="no-category">
  {% if not post_list %}
  <h3>No Alerts in this category!</h3>
  <a href="{% url 'home' %}" aria-label="Clear Filter">Clear Filter</a>
  {% endif %}
</div>
<!-- New Blog Section-->
<section id="blog" aria-label="Blog Posts">
  <div class="blog-container">
    {% for post in post_list %}
    <div class="blog-box">
      <div class="blog-img">
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="https://res.cloudinary.com/dg6tnws5o/image/upload/v1698399023/default2_u9ifqc.png"
          alt="Alert Image"
        />
        {% else %}
        <img src="{{ post.featured_image.url }}" />
        {% endif %}
      </div>
      <div class="blog-text">
        <span
          >{{ post.created_on}} <i class="far fa-heart"></i>
          <!--Stop line break-->
          {{ post.number_of_likes }} <i class="far fa-comment"></i>
          <!--Stop line break-->
          {{ post.number_of_comments }}</span
        >
        <a href="{% url 'post_detail' post.slug %}" class="blog-title"
          >{{ post.title }}</a
        >
        <p>{{ post.category }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{%endblock%}
