{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<!-- Alert Detail -->
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-subtitle">
          {{ post.author }} | {{ post.created_on }} | {{ post.category }}
        </p>
        <p class="card-text">{{ post.content | safe }}</p>
        {% if user.is_authenticated and user == post.author %}
        <a
          href="{% url 'edit_post' post.slug %}"
          class="btn btn-primary"
          aria-label="Edit this post"
          >Edit</a
        >
        <a
          href="{% url 'post_delete' post.slug %}"
          class="btn btn-danger"
          aria-label="Delete this post"
          >Delete</a
        >
        {% endif %}
      </div>
      <div class="col-md-6 masthead-image">
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="https://res.cloudinary.com/dg6tnws5o/image/upload/v1698399023/default2_u9ifqc.png"
          width="100%"
          alt="Placeholder Image"
        />
        {% else %}
        <img
          src=" {{ post.featured_image.url }}"
          width="100%"
          alt="Featured Image"
        />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Likes and Comments counter-->
<div class="icon-container">
  <div>
    {% if user.is_authenticated %}
    <form
      class="d-inline"
      action="{% url 'post_like' post.slug %}"
      method="POST"
    >
      {% csrf_token %} {% if not liked %}
      <button
        type="submit"
        name="blogpost_id"
        value="{{post.slug}}"
        class="like-button"
        aria-label="Like post"
      >
        <i class="far fa-heart"></i>
      </button>
      {% else %}
      <i class="far fa-heart"></i>
      {% endif %}
    </form>
    {% else %}
    <i class="far fa-heart"></i>
    {% endif %}
    <span>{{ post.number_of_likes }}</span>
  </div>
  <div>
    <i class="far fa-comment"></i>
    <span>{{ post.number_of_comments }}</span>
  </div>
</div>
<div class="row">
  <div class="col"></div>
</div>
<!-- Comments Field -->
<div class="row" id="comments-box">
  <div class="col-md-8 card mb-4 mt-3">
    <h3>Comments:</h3>
    <div class="card-body">
      {% for comment in comments %}
      <div class="comments" style="padding: 10px">
        <p class="font-weight-bold">
          {{ comment.name }}
          <span class="text-muted font-weight-normal">
            {{ comment.created_on }}
          </span>
          wrote:
        </p>
        {{ comment.body | linebreaks }}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
      {% if commented %}
      <div class="alert alert-success" role="alert">
        Your comment is awaiting approval
      </div>
      {% else %} {% if user.is_authenticated %}
      <h3>Leave a comment:</h3>
      <p>Posting as: {{ user.username }}</p>
      <form method="post" style="margin-top: 1.3em">
        {{ comment_form | crispy }} {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
