{% extends "base.html" %}
<!--Stop-->
{% load i18n %}
<!--Stop-->
{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}
<!--Stop-->
{% block content %}
<div class="center-content" id="logout" style="background: #b8e0a8">
  <h1>{% trans "Delete Alert" %}</h1>

  <p>{% trans 'Are you sure you want to delete your Alert?' %}</p>
  <form action="{% url 'post_delete' post.slug %}" method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-danger"
      aria-label="Confirm deletion of Alert"
    >
      Confirm
    </button>
  </form>
</div>

{% endblock content %}
